  .nearby__display{
    width: 100%;
    display: flex;
    justify-content: center;
     flex-direction: row; 
     flex-wrap: wrap;
  }
  #nearby__items{
    
       display: flex;
      flex-direction: row;
      flex-wrap: wrap; 
      justify-content: center;
      /* flex: 0 0 20% ; */
     
     
  }

  #nearbyHeader{
    margin-left: 5rem;
    margin-bottom: 2rem;
    color:#597A76;
    font-weight: bold;
    font-size: 24px;
    margin-top: 2rem;


  }
  .nearbyButton{
    margin: 1rem auto;
    color:#ECF6F9;
    background-color: #072c3d;
    padding:0.5rem;
    border-radius: 1.813rem;
    width: 6rem;
    text-align: center;
  }
  .nearbyButton:hover{
    cursor: pointer;
  }