.numContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.inputContainer {
  position: relative;
  background-color: #f2f2f2;
  padding: 1rem 0 1rem 2.5rem;
  border: 1px solid gainsboro;
  border-radius: 5px;
  width: 15rem;
}

.iconContainer {
  position: relative;
  left: 25px;
  z-index: 2;
}

.rangeSlider {
  width: 15rem;
  height: 10px;
  background-color: #ddd;
  outline: none;
}

.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #425281;
  cursor: pointer;
}
.inputContainer::placeholder {
  color: black;
}
.checkButton,
.submitButton {
  background-color: #072c3d;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s;
  margin-left: 0.8rem;
} 
.submitButton:hover{
  background-color:  aliceblue;
  color: #072c3d;
}
.formButton {
  margin-top: 10px;
}
.checkButton:hover{
  background-color: gray !important;
}
.formImgContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tourImg {
  width: 50%;
  height: 50%;
}

@media only screen and (max-width: 480px) {
  /* CSS styles specifically for mobile screens go here */

  .responsiveContainer {
    display: flex;
    align-items: center;
  }
  .tourImg{
    width: 100%;
  }
  .formImgContainer {
    display: flex;
    flex-direction: column;
  }
  /* Example styles */
}
