#overAll__container{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}
#leftSide__container{

    width: 100%;
    display: flex;    /* background-color: #e7f7ff; */
}
#rightSide__container{
    width: 100%;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

@media only screen and (max-width: 480px) {
    /* Your CSS rules for mobile screens here */
    #overAll__container{
        display: flex;
        flex-direction: column;
        /* margin-top: 2rem; */
        gap: 2rem;
        background-color: #F5F5F5;
    }
    #leftSide__container{
        width: 100%;
    /* background-color: #e7f7ff; */
    /* height: 10rem; */
    display: flex;
    }
  }