.card__container{
    width: 40%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1.5rem;
    position: absolute;
    top: 27rem;
    color: #ecf6f9;
}
.cardData{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 4rem;
    

}
@media (max-width:900px) {
    .card__container{
        width: 100%;
    }
    .first__column{
        display: none !important;
    }
}
.first__column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sec__column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sec__column input{
    border-radius: 1.063rem;
    text-align: center;
}
.sec__column input:focus{
    outline: none;

}
.fa__container p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
::placeholder{
    text-align: center;
}

#location__header{
    font-size: 1.25rem;
    font-weight: bold;
}
.fa__container{
    display: flex;
    align-items: center;
}