.image__container img{
    /* width: 45rem; */
    /* width: 70%;
    border-radius: 10px; */
}
.image__container{
    position: relative;
    display: flex;
    justify-content: center;
    height: 35rem
;
}

.header__container{
    position: absolute;
    top: 2rem;
    color: #ecf6f9;
    font-size: 1.563rem;
    font-weight: bold;
    font-family: cursive;
}
@media (max-width:900px) {
    .header__container{
        display: none !important;
    }
    .image__container{
        width: 100%;
    }
}