.label-input input {
  border: none;
  background-color: inherit;
  height: 100%;
  padding: 5px 0px;
  color: white;
  font-size: 16px;
}
.label-input {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid white;
}
.label-input input:focus {
  outline: none;
}
