

.city__style {
  font-weight: bold !important;
  color:#072c3d !important;
  font-family: 'DM Sans', sans-serif !important;

}

  #distance{
    font-size: 1rem !important ;
    color:#072c3d !important;

  }

.cardSlide{
  border: 1px solid #072c3d !important;
  background-color: white !important;
  height: 10rem !important;
  border-radius: 15px !important;
  font-family: 'Roboto', sans-serif;


}

.cardSlide__top img:hover{
  cursor: pointer;
}
.image__content{
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  flex-wrap: wrap;
}
.firstRow{
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin-bottom: 1rem;
}
.secRow{
  display: flex;
  justify-content: space-between;
  color:#072c3d ;
}
.thirdRow{
  color:#072c3d
}
.rowsContainer{
  margin: 10px;
}
