:root {
  --main_color: #072c3d;
  --btn_color: #eee;
}

.coverStyle {
  height: 15rem;
  background-color: var(--main_color);
  border-radius: 0.2rem 0.2rem 0.2rem 3rem;
}

.img-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem !important;
  height: 13rem !important;
}
.img-cover img {
  clip-path: circle();
  object-fit: cover;
}

.cover-info #cover-name,
.followers {
  font-size: 1.5rem;
}

.option button {
  background-color: var(--btn_color);
  color: var(--main_color);
}

.option button:hover {
  background-color: #b0b0e7;
  color: var(--main_color);
}

/* 


*/

.btn-border {
  border-right: 0.15rem solid var(--main_color);
}

@media (max-width: 768px) {
  .img-cover {
    width: 8rem !important;
    height: 8rem !important;
  }
}

/* Edit Page */

.disabled {
  opacity: 0.5;
}

.update-btn {
  background-color: var(--main_color) !important;
  color: #eee !important;
}

.update-btn:hover {
  opacity: 0.8;
}

.option-edit {
  position: absolute;
  right: 0px;
}

/* 4k screens */
@media (min-width: 1500px) {
  .option-edit {
    position: absolute;
    right: 0px;
  }
}

/* large screens */
@media (max-width: 768px) {
  .coverStyle {
    height: 10rem;
  }

  .cover-info,
  .cover-info #cover-name,
  .followers {
    font-size: 0.9rem;
  }

  .img-cover {
    width: 5.6rem;
  }

  .option button {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

/*  medium screens */
@media (max-width: 375px) {
  .cover-info,
  .cover-info #cover-name,
  .followers {
    font-size: 0.8rem;
  }

  .option button {
    font-size: 0.65rem;
  }

  .option-edit {
    position: relative;
  }
}
/* very small screens */
@media (max-width: 320px) {
  .cover-info,
  .cover-info #cover-name,
  .followers {
    font-size: 0.69rem;
  }
}
