.label {
  font-size: 1.4rem;
  color: #4e1a73;
}

.bio-style {
  background-color: #f5f5f5;
  max-width: 70%;
  word-wrap: break-word;
}

.img-container {
  background-color: var(--btn_color);
}

.skill-style {
  background-color: #cfcfcf;
  width: 50%;
}

.singOut-btn {
  background-color:#100D4C!important;
  color: aliceblue !important;
  opacity: 0.9;
}
.singOut-btn:hover {
  opacity: 1;
}
/* very small screens */

@media (max-width: 320px) {
  .label {
    font-size: 1.2rem;
  }

  .data-sm-screen {
    font-size: smaller;
  }
}
