.image__container img{
    /* width: 45rem; */
    width: 100%;
    height: 21.438rem;
    border-radius: 2rem;
}
.image__container{
    display: flex;
    justify-content: center;
    width: 50%;
}

.header__container{
    position: absolute;
    top: 6rem;
    color: #072c3d;
    font-size: 1.563rem;
    font-weight: bold;
}
@media (max-width:900px) {
    .header__container{
        display: none !important;
    }
    .image__container{
        width: 100%;
    }
}