.categoryPage__container{
    display: flex;
    flex-direction: column;
}
#categoryHeader {
    margin-left: 5rem;
    margin-bottom: 2rem;
    color:#597A76;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;

}