.buttonFormContainer{
    margin-left: 2rem;
    margin-bottom: 5rem;
}

.tourRequest {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .show {
    opacity: 1;
  }
  .buttonContainer{
    text-align: center;
    margin-top: 5rem;
  }
  @media only screen and (max-width: 480px) {
    /* CSS styles specifically for mobile screens go here */
    
    .buttonFormContainer{
        margin-left: 0;
    }
    /* Example styles */}