.home-page {
  width: 100%;
  background-image: url("../../../../assets/Resources//backgrounds/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
}
.home-page__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
  margin: auto;
}
.home-page * {
  z-index: 10;
}

.singIn-home {
  height: 100vh;
}

.home-page::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
