#page__container {
  background-color: #f5f5f5;
  padding: 0.1rem;
}
#first__part {
  margin: 1rem;
  display: flex;
  gap: 15px;
  justify-content: space-around;
}
#second__part {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  #first__part {
    display: flex;
    flex-direction: column-reverse;
  }
}
#third__part {
  margin: 2rem 0rem 2rem 0rem;
}
