.cardSlide__top img{
  width: 90%;
  height: 100%;
  padding: 1rem;
  border-radius: 2rem;
}
.cardSlide__top p,.star__class{
padding: 0.5rem;
margin: 0rem !important;
}
.city__style {
  font-weight: bold;
  color:#072c3d;

}
  .cardSlide__top{
    display: flex;
    flex-direction: column;

  }
  #distance{
    font-size: 1rem ;
    color:#072c3d;

  }

.cardSlide{
  border: 1px solid #072c3d !important;
  background-color: white !important;
  height: 10rem !important;
  border-radius: 15px !important;

}

.cardSlide__top img:hover{
  cursor: pointer;
}
.image__content{
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
  flex-wrap: wrap;
}
